In [199]:
import pandas as pd
import os
from pandas.io.json import json_normalize
import json

In [200]:
li = []
for filename in os.listdir('C:\\Users\\Nika\\PycharmProjects\\PricePrediction\\caiso_downloads\\DAM_unziped'):
    path = 'C:\\Users\\Nika\\PycharmProjects\\PricePrediction\\caiso_downloads\\DAM_unziped\\'+filename
    df = pd.read_csv(path, index_col=None, header=0)
    li.append(df)
dam_df = pd.concat(li, axis=0, ignore_index=True)

In [201]:
dam_df = dam_df.drop(columns=['OPR_INTERVAL', 'GRP_TYPE', 'NODE_ID_XML', 'NODE_ID', 'PNODE_RESMRID'])
dam_df =  dam_df.rename(columns={"INTERVALSTARTTIME_GMT": "start_datetime", "INTERVALENDTIME_GMT":"end_datetime", "OPR_HR": "hr_index", "OPR_DT":"date", "NODE":"node", "MARKET_RUN_ID":"market","LMP_TYPE":"lmp_type","MW":"dam_price_per_mwh"})
dam_df = dam_df.pivot_table(index=['date', 'hr_index', 'node'], columns='XML_DATA_ITEM', values='dam_price_per_mwh').reset_index().rename(columns={'LMP_CONG_PRC': 'DAM LMP_CONG_PRC', 'LMP_ENE_PRC': 'DAM LMP_ENE_PRC', 'LMP_LOSS_PRC':'DAM LMP_LOSS_PRC', 'LMP_PRC': 'DAM LMP_PRC'})
dam_df.columns.name=None

In [202]:
dam_df.head()

,date,hr_index,node,DAM LMP_CONG_PRC,DAM LMP_ENE_PRC,LMP_GHG_PRC,DAM LMP_LOSS_PRC,DAM LMP_PRC
0,2017-01-01,1,MURRAY_6_N015,0.0,32.48500,NaN,-0.01949,32.46551
1,2017-01-01,2,MURRAY_6_N015,0.0,32.39785,NaN,0.01620,32.41405
2,2017-01-01,3,MURRAY_6_N015,0.0,32.14397,NaN,0.15429,32.29826
3,2017-01-01,4,MURRAY_6_N015,0.0,32.07828,NaN,0.12511,32.20339
4,2017-01-01,5,MURRAY_6_N015,0.0,31.18227,NaN,0.19645,31.37871

In [203]:
li = []
for filename in os.listdir('C:\\Users\\Nika\\PycharmProjects\\PricePrediction\\caiso_downloads\\HASP_unziped'):
    path = 'C:\\Users\\Nika\\PycharmProjects\\PricePrediction\\caiso_downloads\\HASP_unziped\\'+filename
    df = pd.read_csv(path, index_col=None, header=0)
    li.append(df)
hasp_df = pd.concat(li, axis=0, ignore_index=True)

In [204]:
hasp_df = hasp_df.drop(columns=['GRP_TYPE', 'NODE_ID_XML', 'NODE_ID', 'PNODE_RESMRID'])
hasp_df =  hasp_df.rename(columns={"INTERVALSTARTTIME_GMT": "start_datetime", "INTERVALENDTIME_GMT":"end_datetime", "OPR_HR": "hr_index", "OPR_DT":"date", "NODE":"node", "MARKET_RUN_ID":"market","LMP_TYPE":"lmp_type","MW":"hasp_price_per_mwh"})
hasp_df = hasp_df.pivot_table(index=['date', 'hr_index', 'OPR_INTERVAL', 'node'], columns='XML_DATA_ITEM', values='hasp_price_per_mwh').reset_index().rename(columns={'LMP_CONG_PRC': 'HASP LMP_CONG_PRC', 'LMP_ENE_PRC': 'HASP LMP_ENE_PRC', 'LMP_LOSS_PRC':'HASP LMP_LOSS_PRC', 'LMP_PRC': 'HASP LMP_PRC', 'LMP_GHG_PRC':'HASP LMP_GHG_PRC'})
hasp_df.columns.name=None
hasp_df = hasp_df.pivot_table(index=['date', 'hr_index', 'node'], columns='OPR_INTERVAL', values=['HASP LMP_ENE_PRC', 'HASP LMP_ENE_PRC', 'HASP LMP_GHG_PRC', 'HASP LMP_LOSS_PRC', 'HASP LMP_PRC']).reset_index()
hasp_df.columns.name=None

In [205]:
hasp_df.head()

                    date hr_index           node HASP LMP_CONG_PRC            \
OPR_INTERVAL                                                     1    2    3
0             2017-01-01        1  MURRAY_6_N015               0.0  0.0  0.0
1             2017-01-01        2  MURRAY_6_N015               0.0  0.0  0.0
2             2017-01-01        3  MURRAY_6_N015               0.0  0.0  0.0
3             2017-01-01        4  MURRAY_6_N015               0.0  0.0  0.0
4             2017-01-01        5  MURRAY_6_N015               0.0  0.0  0.0

                  HASP LMP_ENE_PRC                      ... HASP LMP_GHG_PRC  \
OPR_INTERVAL    4                1         2         3  ...                3
0             0.0         36.31011  28.74840  28.32311  ...              0.0
1             0.0         35.35038  32.58237  31.10945  ...              0.0
2             0.0         37.49308  36.40468  31.66957  ...              0.0
3             0.0         31.51344  31.41252  30.87630  ...              0.0
4             0.0         29.69089  29.70932  29.67862  ...              0.0

                  HASP LMP_LOSS_PRC                            HASP LMP_PRC  \
OPR_INTERVAL    4                 1        2        3        4            1
0             0.0           0.24691  0.30473  0.29739  0.21548     36.55702
1             0.0           0.47370  0.43009  0.40442  0.44094     35.82408
2             0.0           0.39368  0.37133  0.30719  0.29419     37.88676
3             0.0           0.23950  0.23245  0.23157  0.23014     31.75294
4             0.0           0.30879  0.30304  0.32053  0.30616     29.99968


OPR_INTERVAL         2         3         4
0             29.05314  28.62050  23.89413
1             33.01246  31.51388  30.03393
2             36.77600  31.97677  31.92784
3             31.64498  31.10787  30.91485
4             30.01236  29.99915  30.03086

[5 rows x 23 columns]

In [206]:
li = []
for filename in os.listdir('C:\\Users\\Nika\\PycharmProjects\\PricePrediction\\caiso_downloads\\RTM_unziped'):
    path = 'C:\\Users\\Nika\\PycharmProjects\\PricePrediction\\caiso_downloads\\RTM_unziped\\'+filename
    df = pd.read_csv(path, index_col=None, header=0)
    li.append(df)
rtm_df = pd.concat(li, axis=0, ignore_index=True)

In [207]:
rtm_df = rtm_df.drop(columns=['GRP_TYPE', 'NODE_ID_XML', 'NODE_ID', 'PNODE_RESMRID'])
rtm_df =  rtm_df.rename(columns={"INTERVALSTARTTIME_GMT": "start_datetime", "INTERVALENDTIME_GMT":"end_datetime", "OPR_HR": "hr_index", "OPR_DT":"date", "NODE":"node", "MARKET_RUN_ID":"market","LMP_TYPE":"lmp_type","VALUE":"rtm_price_per_mwh"})
rtm_df = rtm_df.pivot_table(index=['date', 'hr_index', 'OPR_INTERVAL', 'node'], columns='XML_DATA_ITEM', values='rtm_price_per_mwh').reset_index().rename(columns={'LMP_CONG_PRC': 'RTM LMP_CONG_PRC', 'LMP_ENE_PRC': 'RTM LMP_ENE_PRC', 'LMP_LOSS_PRC':'RTM LMP_LOSS_PRC', 'LMP_PRC': 'RTM LMP_PRC', 'LMP_GHG_PRC':'RTM LMP_GHG_PRC'})
rtm_df.columns.name=None
rtm_df = rtm_df.pivot_table(index=['date', 'hr_index', 'node'], columns='OPR_INTERVAL', values=['RTM LMP_ENE_PRC', 'RTM LMP_ENE_PRC', 'RTM LMP_GHG_PRC', 'RTM LMP_LOSS_PRC', 'RTM LMP_PRC']).reset_index()
rtm_df.columns.name=None

In [208]:
rtm_df.head()

                    date hr_index           node RTM LMP_CONG_PRC            \
OPR_INTERVAL                                                    1    2    3
0             2017-01-01        1  MURRAY_6_N015              0.0  0.0  0.0
1             2017-01-01        2  MURRAY_6_N015              0.0  0.0  0.0
2             2017-01-01        3  MURRAY_6_N015              0.0  0.0  0.0
3             2017-01-01        4  MURRAY_6_N015              0.0  0.0  0.0
4             2017-01-01        5  MURRAY_6_N015              0.0  0.0  0.0

                                  ... RTM LMP_PRC                      \
OPR_INTERVAL    4    5    6    7  ...           3         4         5
0             0.0  0.0  0.0  0.0  ...    38.08275  32.54260  42.98434
1             0.0  0.0  0.0  0.0  ...    38.78946  37.47524  31.13016
2             0.0  0.0  0.0  0.0  ...    28.45010  28.78010  21.97158
3             0.0  0.0  0.0  0.0  ...    23.95020  21.89243  21.28010
4             0.0  0.0  0.0  0.0  ...     0.01000   0.00000   0.00000

                                                                         \
OPR_INTERVAL         6        7         8         9        10        11
0             37.57587  36.2201  41.64678  36.75885  38.87824  37.46526
1             30.50770  28.4501  26.94010  26.23158  29.70220  31.62827
2             23.76020  21.7387   8.13000  19.87609  21.38010  21.70928
3             21.28010  20.9999  20.89990  18.24020   0.01000   0.01000
4              0.00000   0.0000   0.00000   0.00000   0.00998   0.01000


OPR_INTERVAL        12
0             36.94514
1             29.97989
2             26.17010
3              0.01000
4              0.00994

[5 rows x 63 columns]

In [209]:
final_df = pd.merge(dam_df, hasp_df, on=['date','hr_index'])
final_df = pd.merge(final_df, rtm_df, on=['date','hr_index'])

C:\Users\Nika\Anaconda3\envs\PricePrediction\lib\site-packages\pandas\core\reshape\merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)
C:\Users\Nika\Anaconda3\envs\PricePrediction\lib\site-packages\pandas\core\generic.py:3935: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [241]:
final_df.head()

,time_local,date,hr_index,node,DAM LMP_CONG_PRC,DAM LMP_ENE_PRC,LMP_GHG_PRC,DAM LMP_LOSS_PRC,DAM LMP_PRC,"(HASP LMP_CONG_PRC, 1)",...,"(RTM LMP_PRC, 3)","(RTM LMP_PRC, 4)","(RTM LMP_PRC, 5)","(RTM LMP_PRC, 6)","(RTM LMP_PRC, 7)","(RTM LMP_PRC, 8)","(RTM LMP_PRC, 9)","(RTM LMP_PRC, 10)","(RTM LMP_PRC, 11)","(RTM LMP_PRC, 12)"
0,2017-01-01 00:00:00,2017-01-01,0,MURRAY_6_N015,0.0,32.48500,NaN,-0.01949,32.46551,0.0,...,38.08275,32.54260,42.98434,37.57587,36.2201,41.64678,36.75885,38.87824,37.46526,36.94514
1,2017-01-01 01:00:00,2017-01-01,1,MURRAY_6_N015,0.0,32.39785,NaN,0.01620,32.41405,0.0,...,38.78946,37.47524,31.13016,30.50770,28.4501,26.94010,26.23158,29.70220,31.62827,29.97989
2,2017-01-01 02:00:00,2017-01-01,2,MURRAY_6_N015,0.0,32.14397,NaN,0.15429,32.29826,0.0,...,28.45010,28.78010,21.97158,23.76020,21.7387,8.13000,19.87609,21.38010,21.70928,26.17010
3,2017-01-01 03:00:00,2017-01-01,3,MURRAY_6_N015,0.0,32.07828,NaN,0.12511,32.20339,0.0,...,23.95020,21.89243,21.28010,21.28010,20.9999,20.89990,18.24020,0.01000,0.01000,0.01000
4,2017-01-01 04:00:00,2017-01-01,4,MURRAY_6_N015,0.0,31.18227,NaN,0.19645,31.37871,0.0,...,0.01000,0.00000,0.00000,0.00000,0.0000,0.00000,0.00000,0.00998,0.01000,0.00994

In [211]:
final_df = final_df.drop(columns=["('node', '')_x", ('node_y', '')])

In [212]:
final_df = final_df.rename(columns={'node_x': 'node'})

In [213]:
list(final_df)

['date',
 'hr_index',
 'node',
 'DAM LMP_CONG_PRC',
 'DAM LMP_ENE_PRC',
 'LMP_GHG_PRC',
 'DAM LMP_LOSS_PRC',
 'DAM LMP_PRC',
 ('HASP LMP_CONG_PRC', 1),
 ('HASP LMP_CONG_PRC', 2),
 ('HASP LMP_CONG_PRC', 3),
 ('HASP LMP_CONG_PRC', 4),
 ('HASP LMP_ENE_PRC', 1),
 ('HASP LMP_ENE_PRC', 2),
 ('HASP LMP_ENE_PRC', 3),
 ('HASP LMP_ENE_PRC', 4),
 ('HASP LMP_GHG_PRC', 1),
 ('HASP LMP_GHG_PRC', 2),
 ('HASP LMP_GHG_PRC', 3),
 ('HASP LMP_GHG_PRC', 4),
 ('HASP LMP_LOSS_PRC', 1),
 ('HASP LMP_LOSS_PRC', 2),
 ('HASP LMP_LOSS_PRC', 3),
 ('HASP LMP_LOSS_PRC', 4),
 ('HASP LMP_PRC', 1),
 ('HASP LMP_PRC', 2),
 ('HASP LMP_PRC', 3),
 ('HASP LMP_PRC', 4),
 ('RTM LMP_CONG_PRC', 1),
 ('RTM LMP_CONG_PRC', 2),
 ('RTM LMP_CONG_PRC', 3),
 ('RTM LMP_CONG_PRC', 4),
 ('RTM LMP_CONG_PRC', 5),
 ('RTM LMP_CONG_PRC', 6),
 ('RTM LMP_CONG_PRC', 7),
 ('RTM LMP_CONG_PRC', 8),
 ('RTM LMP_CONG_PRC', 9),
 ('RTM LMP_CONG_PRC', 10),
 ('RTM LMP_CONG_PRC', 11),
 ('RTM LMP_CONG_PRC', 12),
 ('RTM LMP_ENE_PRC', 1),
 ('RTM LMP_ENE_PRC', 2),
 ('RTM LMP_ENE_PRC', 3),
 ('RTM LMP_ENE_PRC', 4),
 ('RTM LMP_ENE_PRC', 5),
 ('RTM LMP_ENE_PRC', 6),
 ('RTM LMP_ENE_PRC', 7),
 ('RTM LMP_ENE_PRC', 8),
 ('RTM LMP_ENE_PRC', 9),
 ('RTM LMP_ENE_PRC', 10),
 ('RTM LMP_ENE_PRC', 11),
 ('RTM LMP_ENE_PRC', 12),
 ('RTM LMP_GHG_PRC', 1),
 ('RTM LMP_GHG_PRC', 2),
 ('RTM LMP_GHG_PRC', 3),
 ('RTM LMP_GHG_PRC', 4),
 ('RTM LMP_GHG_PRC', 5),
 ('RTM LMP_GHG_PRC', 6),
 ('RTM LMP_GHG_PRC', 7),
 ('RTM LMP_GHG_PRC', 8),
 ('RTM LMP_GHG_PRC', 9),
 ('RTM LMP_GHG_PRC', 10),
 ('RTM LMP_GHG_PRC', 11),
 ('RTM LMP_GHG_PRC', 12),
 ('RTM LMP_LOSS_PRC', 1),
 ('RTM LMP_LOSS_PRC', 2),
 ('RTM LMP_LOSS_PRC', 3),
 ('RTM LMP_LOSS_PRC', 4),
 ('RTM LMP_LOSS_PRC', 5),
 ('RTM LMP_LOSS_PRC', 6),
 ('RTM LMP_LOSS_PRC', 7),
 ('RTM LMP_LOSS_PRC', 8),
 ('RTM LMP_LOSS_PRC', 9),
 ('RTM LMP_LOSS_PRC', 10),
 ('RTM LMP_LOSS_PRC', 11),
 ('RTM LMP_LOSS_PRC', 12),
 ('RTM LMP_PRC', 1),
 ('RTM LMP_PRC', 2),
 ('RTM LMP_PRC', 3),
 ('RTM LMP_PRC', 4),
 ('RTM LMP_PRC', 5),
 ('RTM LMP_PRC', 6),
 ('RTM LMP_PRC', 7),
 ('RTM LMP_PRC', 8),
 ('RTM LMP_PRC', 9),
 ('RTM LMP_PRC', 10),
 ('RTM LMP_PRC', 11),
 ('RTM LMP_PRC', 12)]

In [214]:
final_df.shape

(25356, 88)

In [215]:
final_df.to_pickle('final_df.pkl')

In [216]:
# final_df = pd.read_pickle('final_df.pkl')

In [217]:
li = []
for filename in os.listdir('C:\\Users\\Nika\\PycharmProjects\\PricePrediction\\caiso_downloads\\Weather'):
    path = 'C:\\Users\\Nika\\PycharmProjects\\PricePrediction\\caiso_downloads\\Weather\\'+filename
    with open(path) as data_file:    
        d= json.load(data_file)  
    df = pd.json_normalize(d, 'data')
    li.append(df)
weather_df = pd.concat(li, axis=0, ignore_index=True)

In [218]:
weather_df.head()

,time,time_local,temperature,dewpoint,humidity,precipitation,precipitation_3,precipitation_6,snowdepth,windspeed,peakgust,winddirection,pressure,condition
0,2017-01-01 08:00:00,2017-01-01 00:00,11.1,8.3,83,0.3,None,NaN,None,0.0,None,NaN,1012.5,None
1,2017-01-01 09:00:00,2017-01-01 01:00,11.1,7.8,80,0.0,None,NaN,None,7.6,None,10.0,1012.4,None
2,2017-01-01 10:00:00,2017-01-01 02:00,10.6,8.4,86,0.0,None,NaN,None,0.0,None,NaN,1012.3,None
3,2017-01-01 11:00:00,2017-01-01 03:00,10.6,8.4,86,0.0,None,NaN,None,5.4,None,70.0,1012.9,None
4,2017-01-01 12:00:00,2017-01-01 04:00,10.0,7.8,86,NaN,None,3,None,0.0,None,70.0,1012.5,None

In [219]:
final_df.head()

,date,hr_index,node,DAM LMP_CONG_PRC,DAM LMP_ENE_PRC,LMP_GHG_PRC,DAM LMP_LOSS_PRC,DAM LMP_PRC,"(HASP LMP_CONG_PRC, 1)","(HASP LMP_CONG_PRC, 2)",...,"(RTM LMP_PRC, 3)","(RTM LMP_PRC, 4)","(RTM LMP_PRC, 5)","(RTM LMP_PRC, 6)","(RTM LMP_PRC, 7)","(RTM LMP_PRC, 8)","(RTM LMP_PRC, 9)","(RTM LMP_PRC, 10)","(RTM LMP_PRC, 11)","(RTM LMP_PRC, 12)"
0,2017-01-01,1,MURRAY_6_N015,0.0,32.48500,NaN,-0.01949,32.46551,0.0,0.0,...,38.08275,32.54260,42.98434,37.57587,36.2201,41.64678,36.75885,38.87824,37.46526,36.94514
1,2017-01-01,2,MURRAY_6_N015,0.0,32.39785,NaN,0.01620,32.41405,0.0,0.0,...,38.78946,37.47524,31.13016,30.50770,28.4501,26.94010,26.23158,29.70220,31.62827,29.97989
2,2017-01-01,3,MURRAY_6_N015,0.0,32.14397,NaN,0.15429,32.29826,0.0,0.0,...,28.45010,28.78010,21.97158,23.76020,21.7387,8.13000,19.87609,21.38010,21.70928,26.17010
3,2017-01-01,4,MURRAY_6_N015,0.0,32.07828,NaN,0.12511,32.20339,0.0,0.0,...,23.95020,21.89243,21.28010,21.28010,20.9999,20.89990,18.24020,0.01000,0.01000,0.01000
4,2017-01-01,5,MURRAY_6_N015,0.0,31.18227,NaN,0.19645,31.37871,0.0,0.0,...,0.01000,0.00000,0.00000,0.00000,0.0000,0.00000,0.00000,0.00998,0.01000,0.00994

In [220]:
final_df.dtypes

date                  object
hr_index               int64
node                  object
DAM LMP_CONG_PRC     float64
DAM LMP_ENE_PRC      float64
                      ...
(RTM LMP_PRC, 8)     float64
(RTM LMP_PRC, 9)     float64
(RTM LMP_PRC, 10)    float64
(RTM LMP_PRC, 11)    float64
(RTM LMP_PRC, 12)    float64
Length: 88, dtype: object

In [221]:
final_df.head()

,date,hr_index,node,DAM LMP_CONG_PRC,DAM LMP_ENE_PRC,LMP_GHG_PRC,DAM LMP_LOSS_PRC,DAM LMP_PRC,"(HASP LMP_CONG_PRC, 1)","(HASP LMP_CONG_PRC, 2)",...,"(RTM LMP_PRC, 3)","(RTM LMP_PRC, 4)","(RTM LMP_PRC, 5)","(RTM LMP_PRC, 6)","(RTM LMP_PRC, 7)","(RTM LMP_PRC, 8)","(RTM LMP_PRC, 9)","(RTM LMP_PRC, 10)","(RTM LMP_PRC, 11)","(RTM LMP_PRC, 12)"
0,2017-01-01,1,MURRAY_6_N015,0.0,32.48500,NaN,-0.01949,32.46551,0.0,0.0,...,38.08275,32.54260,42.98434,37.57587,36.2201,41.64678,36.75885,38.87824,37.46526,36.94514
1,2017-01-01,2,MURRAY_6_N015,0.0,32.39785,NaN,0.01620,32.41405,0.0,0.0,...,38.78946,37.47524,31.13016,30.50770,28.4501,26.94010,26.23158,29.70220,31.62827,29.97989
2,2017-01-01,3,MURRAY_6_N015,0.0,32.14397,NaN,0.15429,32.29826,0.0,0.0,...,28.45010,28.78010,21.97158,23.76020,21.7387,8.13000,19.87609,21.38010,21.70928,26.17010
3,2017-01-01,4,MURRAY_6_N015,0.0,32.07828,NaN,0.12511,32.20339,0.0,0.0,...,23.95020,21.89243,21.28010,21.28010,20.9999,20.89990,18.24020,0.01000,0.01000,0.01000
4,2017-01-01,5,MURRAY_6_N015,0.0,31.18227,NaN,0.19645,31.37871,0.0,0.0,...,0.01000,0.00000,0.00000,0.00000,0.0000,0.00000,0.00000,0.00998,0.01000,0.00994

In [222]:
weather_df.head()

,time,time_local,temperature,dewpoint,humidity,precipitation,precipitation_3,precipitation_6,snowdepth,windspeed,peakgust,winddirection,pressure,condition
0,2017-01-01 08:00:00,2017-01-01 00:00,11.1,8.3,83,0.3,None,NaN,None,0.0,None,NaN,1012.5,None
1,2017-01-01 09:00:00,2017-01-01 01:00,11.1,7.8,80,0.0,None,NaN,None,7.6,None,10.0,1012.4,None
2,2017-01-01 10:00:00,2017-01-01 02:00,10.6,8.4,86,0.0,None,NaN,None,0.0,None,NaN,1012.3,None
3,2017-01-01 11:00:00,2017-01-01 03:00,10.6,8.4,86,0.0,None,NaN,None,5.4,None,70.0,1012.9,None
4,2017-01-01 12:00:00,2017-01-01 04:00,10.0,7.8,86,NaN,None,3,None,0.0,None,70.0,1012.5,None

In [223]:
weather_df['time_local'] = weather_df['time_local'].astype('datetime64[ns]')

In [224]:
final_df["hr_index"] -= 1

In [225]:
date_df = pd.to_datetime(final_df["date"], format='%Y-%m-%d') + pd.to_timedelta(final_df.hr_index, unit='h')
date_df = date_df.to_frame()

In [226]:
final_df.insert(0, "time_local", date_df[0])

In [227]:
weather_df['time_local'] = weather_df['time_local'].astype('datetime64[ns]')

In [228]:
merged = pd.merge(weather_df, final_df, on=['time_local'])

In [229]:
merged.head()

,time,time_local,temperature,dewpoint,humidity,precipitation,precipitation_3,precipitation_6,snowdepth,windspeed,...,"(RTM LMP_PRC, 3)","(RTM LMP_PRC, 4)","(RTM LMP_PRC, 5)","(RTM LMP_PRC, 6)","(RTM LMP_PRC, 7)","(RTM LMP_PRC, 8)","(RTM LMP_PRC, 9)","(RTM LMP_PRC, 10)","(RTM LMP_PRC, 11)","(RTM LMP_PRC, 12)"
0,2017-01-01 08:00:00,2017-01-01 00:00:00,11.1,8.3,83,0.3,None,NaN,None,0.0,...,38.08275,32.54260,42.98434,37.57587,36.2201,41.64678,36.75885,38.87824,37.46526,36.94514
1,2017-01-01 09:00:00,2017-01-01 01:00:00,11.1,7.8,80,0.0,None,NaN,None,7.6,...,38.78946,37.47524,31.13016,30.50770,28.4501,26.94010,26.23158,29.70220,31.62827,29.97989
2,2017-01-01 10:00:00,2017-01-01 02:00:00,10.6,8.4,86,0.0,None,NaN,None,0.0,...,28.45010,28.78010,21.97158,23.76020,21.7387,8.13000,19.87609,21.38010,21.70928,26.17010
3,2017-01-01 11:00:00,2017-01-01 03:00:00,10.6,8.4,86,0.0,None,NaN,None,5.4,...,23.95020,21.89243,21.28010,21.28010,20.9999,20.89990,18.24020,0.01000,0.01000,0.01000
4,2017-01-01 12:00:00,2017-01-01 04:00:00,10.0,7.8,86,NaN,None,3,None,0.0,...,0.01000,0.00000,0.00000,0.00000,0.0000,0.00000,0.00000,0.00998,0.01000,0.00994

In [230]:
merged = merged.drop(columns="time",)

In [231]:
merged = merged.rename(columns={'time_local': 'time', })

In [232]:
cols = merged.columns.tolist()
cols.insert(1, cols[13])

In [233]:
cols.insert(2, cols[15])

In [234]:
cols.insert(3, cols[17])

In [235]:
del cols[16]
del cols[16]
del cols[16]

In [236]:
merged = merged[cols]

In [238]:
merged.head()

,time,date,hr_index,node,temperature,dewpoint,humidity,precipitation,precipitation_3,precipitation_6,...,"(RTM LMP_PRC, 3)","(RTM LMP_PRC, 4)","(RTM LMP_PRC, 5)","(RTM LMP_PRC, 6)","(RTM LMP_PRC, 7)","(RTM LMP_PRC, 8)","(RTM LMP_PRC, 9)","(RTM LMP_PRC, 10)","(RTM LMP_PRC, 11)","(RTM LMP_PRC, 12)"
0,2017-01-01 00:00:00,2017-01-01,0,MURRAY_6_N015,11.1,8.3,83,0.3,None,NaN,...,38.08275,32.54260,42.98434,37.57587,36.2201,41.64678,36.75885,38.87824,37.46526,36.94514
1,2017-01-01 01:00:00,2017-01-01,1,MURRAY_6_N015,11.1,7.8,80,0.0,None,NaN,...,38.78946,37.47524,31.13016,30.50770,28.4501,26.94010,26.23158,29.70220,31.62827,29.97989
2,2017-01-01 02:00:00,2017-01-01,2,MURRAY_6_N015,10.6,8.4,86,0.0,None,NaN,...,28.45010,28.78010,21.97158,23.76020,21.7387,8.13000,19.87609,21.38010,21.70928,26.17010
3,2017-01-01 03:00:00,2017-01-01,3,MURRAY_6_N015,10.6,8.4,86,0.0,None,NaN,...,23.95020,21.89243,21.28010,21.28010,20.9999,20.89990,18.24020,0.01000,0.01000,0.01000
4,2017-01-01 04:00:00,2017-01-01,4,MURRAY_6_N015,10.0,7.8,86,NaN,None,3,...,0.01000,0.00000,0.00000,0.00000,0.0000,0.00000,0.00000,0.00998,0.01000,0.00994

In [239]:
merged.to_pickle('merged.pkl')

In [240]:
merged.shape

(26173, 101)

In [243]:
list(merged)

['time',
 'date',
 'hr_index',
 'node',
 'temperature',
 'dewpoint',
 'humidity',
 'precipitation',
 'precipitation_3',
 'precipitation_6',
 'snowdepth',
 'windspeed',
 'peakgust',
 'winddirection',
 'pressure',
 'condition',
 'DAM LMP_CONG_PRC',
 'DAM LMP_ENE_PRC',
 'LMP_GHG_PRC',
 'DAM LMP_LOSS_PRC',
 'DAM LMP_PRC',
 ('HASP LMP_CONG_PRC', 1),
 ('HASP LMP_CONG_PRC', 2),
 ('HASP LMP_CONG_PRC', 3),
 ('HASP LMP_CONG_PRC', 4),
 ('HASP LMP_ENE_PRC', 1),
 ('HASP LMP_ENE_PRC', 2),
 ('HASP LMP_ENE_PRC', 3),
 ('HASP LMP_ENE_PRC', 4),
 ('HASP LMP_GHG_PRC', 1),
 ('HASP LMP_GHG_PRC', 2),
 ('HASP LMP_GHG_PRC', 3),
 ('HASP LMP_GHG_PRC', 4),
 ('HASP LMP_LOSS_PRC', 1),
 ('HASP LMP_LOSS_PRC', 2),
 ('HASP LMP_LOSS_PRC', 3),
 ('HASP LMP_LOSS_PRC', 4),
 ('HASP LMP_PRC', 1),
 ('HASP LMP_PRC', 2),
 ('HASP LMP_PRC', 3),
 ('HASP LMP_PRC', 4),
 ('RTM LMP_CONG_PRC', 1),
 ('RTM LMP_CONG_PRC', 2),
 ('RTM LMP_CONG_PRC', 3),
 ('RTM LMP_CONG_PRC', 4),
 ('RTM LMP_CONG_PRC', 5),
 ('RTM LMP_CONG_PRC', 6),
 ('RTM LMP_CONG_PRC', 7),
 ('RTM LMP_CONG_PRC', 8),
 ('RTM LMP_CONG_PRC', 9),
 ('RTM LMP_CONG_PRC', 10),
 ('RTM LMP_CONG_PRC', 11),
 ('RTM LMP_CONG_PRC', 12),
 ('RTM LMP_ENE_PRC', 1),
 ('RTM LMP_ENE_PRC', 2),
 ('RTM LMP_ENE_PRC', 3),
 ('RTM LMP_ENE_PRC', 4),
 ('RTM LMP_ENE_PRC', 5),
 ('RTM LMP_ENE_PRC', 6),
 ('RTM LMP_ENE_PRC', 7),
 ('RTM LMP_ENE_PRC', 8),
 ('RTM LMP_ENE_PRC', 9),
 ('RTM LMP_ENE_PRC', 10),
 ('RTM LMP_ENE_PRC', 11),
 ('RTM LMP_ENE_PRC', 12),
 ('RTM LMP_GHG_PRC', 1),
 ('RTM LMP_GHG_PRC', 2),
 ('RTM LMP_GHG_PRC', 3),
 ('RTM LMP_GHG_PRC', 4),
 ('RTM LMP_GHG_PRC', 5),
 ('RTM LMP_GHG_PRC', 6),
 ('RTM LMP_GHG_PRC', 7),
 ('RTM LMP_GHG_PRC', 8),
 ('RTM LMP_GHG_PRC', 9),
 ('RTM LMP_GHG_PRC', 10),
 ('RTM LMP_GHG_PRC', 11),
 ('RTM LMP_GHG_PRC', 12),
 ('RTM LMP_LOSS_PRC', 1),
 ('RTM LMP_LOSS_PRC', 2),
 ('RTM LMP_LOSS_PRC', 3),
 ('RTM LMP_LOSS_PRC', 4),
 ('RTM LMP_LOSS_PRC', 5),
 ('RTM LMP_LOSS_PRC', 6),
 ('RTM LMP_LOSS_PRC', 7),
 ('RTM LMP_LOSS_PRC', 8),
 ('RTM LMP_LOSS_PRC', 9),
 ('RTM LMP_LOSS_PRC', 10),
 ('RTM LMP_LOSS_PRC', 11),
 ('RTM LMP_LOSS_PRC', 12),
 ('RTM LMP_PRC', 1),
 ('RTM LMP_PRC', 2),
 ('RTM LMP_PRC', 3),
 ('RTM LMP_PRC', 4),
 ('RTM LMP_PRC', 5),
 ('RTM LMP_PRC', 6),
 ('RTM LMP_PRC', 7),
 ('RTM LMP_PRC', 8),
 ('RTM LMP_PRC', 9),
 ('RTM LMP_PRC', 10),
 ('RTM LMP_PRC', 11),
 ('RTM LMP_PRC', 12)]